chakra_bot_workflow.json
{
  "name": "Chakra Report Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "id": "75d005ab-7205-4e9e-a9ba-3f35cfce2268",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        144
      ],
      "webhookId": "chakra-report-bot",
      "credentials": {
        "telegramApi": {
          "id": "cWt2loWBfcYWXkku",
          "name": "Chakra bot"
        }
      },
      "notes": "Download Files ON. Each uploaded .xlsx arrives as its own message; the VPS does everything else (greeting note, render, send each PDF, cleanup), so this workflow only has to hand the file over."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-doc",
              "leftValue": "={{ $json.message.document }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c169a557-ddc3-40e8-b306-7050b08c66b7",
      "name": "Is it a file?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -80,
        144
      ],
      "notes": "TRUE = a document arrived -> hand it to the VPS. FALSE = plain text -> ignored."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://185.221.237.90:8099/deliver",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Auth-Token",
              "value": "CHANGE_THIS_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "chat",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "4634e97e-976f-4c62-beac-a36550e18d0a",
      "name": "Deliver (VPS)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        144
      ],
      "onError": "continueRegularOutput",
      "notes": "POST /deliver with the xlsx binary + the chat id. The VPS returns {ok:true, accepted:true} within a second and does the rendering + sending on its own background thread — it posts the '⏳ working' note, sends one PDF per person (paced, with 429 back-off), clears the note, and reports any error straight into the chat. Set X-Auth-Token to your VPS NAZARBAN_TOKEN. Nothing runs after this; delivery lives on the VPS."
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Is it a file?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is it a file?": {
      "main": [
        [
          {
            "node": "Deliver (VPS)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b8e2d4f5-1a2b-4c3d-9e6f-3a4b5c6d7e8f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d744e477ef36c482af21417c5323cfd0ec139dc4dc3b252b940a1eb9cd25aabf"
  },
  "id": "F4Rt4bHPWaasAK7x",
  "tags": [
    {
      "updatedAt": "2026-07-07T18:18:01.184Z",
      "createdAt": "2026-07-07T18:18:01.184Z",
      "id": "Ee29V5AX7baOMFZI",
      "name": "chakra"
    }
  ]
}
